html {
    background-color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    display: grid;
    margin: 0 auto;
    min-width: 485px;
    max-width: 1300px;
    width: 100%;
}

header {
    background-color: #fff;
    
}

main {
    background-color: #fff;
}

nav {
    background-color: #000;
    
}

nav li {
    display: inline-flex;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    color: #007d7b;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    justify-content: center;
    text-transform: uppercase;
}

input::placeholder {
    color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
}