html {
    background-color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    display: grid;
    margin: 0 auto;
    min-width: 485px;
    max-width: 1300px;
    width: 100%;
}

header {
    background-color: #fff;
    
}

main {
    background-color: #fff;
}

nav {
    background-color: #000;
    
}

nav a {
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
  }

  nav li {
    display: inline-flex;
}

[href="#top"] {
    position: fixed;
    bottom:0px;
    right:0px;
    
  }

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    color: #007d7b;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

figure {
    position: relative;
    display: flex;
    flex-flow: column;
}

figcaption {
    
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

figcaption:nth-child()

input::placeholder {
    color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
}

#contact {
    background-color: #000;
    text-align: center;
    color: #fff;
}

#contact h2 {
    color: #fff;
}

#contact h3 {
    visibility: hidden;
}

label {
    font-variant-caps: all-small-caps;
}

footer {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
}